node_modules/
dist/
.nuxt/
.output/
.turbo/
.data/
*.tsbuildinfo
# nuxt-module-build --stub artifacts
src/**/*.d.ts
src/**/*.d.vue.ts
src/**/*.js
.env
.env.*
!.env.example
pnpm-workspace.yaml
.vercel
