ignored-built-dependencies[]=@parcel/watcher
ignored-built-dependencies[]=@tailwindcss/oxide
ignored-built-dependencies[]=esbuild
ignored-built-dependencies[]=unrs-resolver
ignored-built-dependencies[]=vue-demi
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=sharp
